@import url('https://fonts.googleapis.com/css?family=Lato');
/*
Dark blue rgb(3,17,20) #031114
blue rgb(0,43,102) #002b66
bluer rgb(0,48,140) #00308c
yellow rgb(245,226,6) #f5e206
white rgb(243,225,217) #f3e1d9

*/
html, body{
	font-family: "Lato", sans-serif;
	margin: 0;

}

header{
	position: fixed;
	background: #031114;/*0E0B16;*/
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-top: solid 4px #00308c;
	padding-bottom: 0;
	color: #f3e1d9;
	z-index: 2;
}

header h1{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 100;
	text-align: right;
	padding-right: 15px;
}

header a{
	text-decoration: none;
	color: #f3e1d9;
}


.circle{
	background: #f5e206;/*e9b000;/*dcb239;*/
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-left: 10px;
	
}

/*SUBHEADER*/

.subheader{
	background: linear-gradient(#031114,#00308c);
	position: fixed;
	height: 150px;
	margin-top: -150px;
	width: 100%;
	color: #f3e1d9;
	z-index: 1;
}
.subheader h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;

}

.countdown{
	position: relative;
	text-align: center;
	border-top: 2px solid #f5e206;
	border-bottom: 2px solid #f5e206;
	margin: 0 auto;
	width: 50%;
}

.item{
	display: inline-block;
	padding-left: 0.5em;
}

.item h2{
	margin-top: 0;
	margin-bottom: 0;
	
}

/*MAIN SECTION*/

.landing{
	margin-top: 200px;
	background: #031114;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50px;
	width: 100%;


}



.lists{
	display:flex;
	flex-basis:25%;
	justify-content:space-around;
	padding:20px;
}

.list{
	max-width:50%;
	padding:15px;
	margin:10px;
	border:solid 1px #002b66;
	border-radius: 5px;
	background: rgba(3,17,20,0.5);
	color: #f3e1d9;
	font-weight: 100;
}

.list a:link{
	color:#f5e206;
}

.list a:visited{
	color:#dcb239;
}

.landing ul { 
	padding-left:20px; 
	list-style:none; 
}

li { 
	margin-bottom:10px; 
}

.done li:before {    
    font-family: 'FontAwesome';
    content: '\f046';
    margin:0 5px 0 -15px;
}

.working li:before {    
    font-family: 'FontAwesome';
    content: '\f085';
    margin:0 5px 0 -15px;
}

.todo li:before {    
    font-family: 'FontAwesome';
    content: '\f096';
    margin:0 5px 0 -15px;
}

.about{
	position:relative;
	padding: 80px;
	background: #e7dfdd;
	color: #0E0B16;
}


/*FOOTER*/
footer {
	padding: 2em 0 5em 1em;
	background: linear-gradient(to bottom right, #031114, #00308c);
	color: #f3e1d9;
}


footer a{
	color: #f3e1d9;
}

footer a:hover{
	color: #f5e206;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
		 -o-transition: all 0.5s;
		-ms-transition: all 0.5s;
			transition: all 0.5s;
}

footer ul {
	padding-left: 0;
	list-style: none
}

footer li {
	display: inline-block;
	text-align: left;
	margin-top: 0;
	letter-spacing:30px;
	font-size: 30px;
}

/*
Dark blue rgb(3,17,20) #031114
blue rgb(0,43,102) #002b66
bluer rgb(0,48,140) #00308c
yellow rgb(245,226,6) #f5e206
white rgb(243,225,217) #f3e1d9

*/